<!DOCTYPE html>
<html>
	<head>
		<link rel="stylesheet" href="styles.css"/>		
	</head>
	<body>
		<div id="sidebar">
			Вокзал <br/>
			Музей <br/>
			Площадь <br/>
		</div>
		<div id="content">
		<h1>Вокзал г.Парижа</h1>
		Состав коллекции экспресс-стилей можно изменить с помощью команды "Изменить текущий набор экспресс-стилей". Коллекции тем и экспресс-стилей включают команды восстановления, позволяющие вернуться к первоначальному виду документа, который содержится в <div class="two">текущем шаблоне</div>. Коллекции на вкладке "Вставка" содержат элементы, которые определяют общий вид документа. Эти коллекции служат для вставки в документ таблиц, колонтитулов, списков, титульных страниц и других стандартных блоков. При создании рисунков, диаграмм или схем они согласовываются с видом текущего документа.
		</div>
		
		<div id="sq1">Square 1</div>
		<div id="sq2">Square 2</div>
	</body>
</html>
