<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
	<system.serviceModel>
		<bindings>
			<basicHttpBinding>
				<binding name="MyServiceBinding" />
			</basicHttpBinding>
		</bindings>
		<client>
			<endpoint address="http://mylibrary.ru" behaviorConfiguration="RBC_Behaviour"
			  binding="webHttpBinding" contract="WindowsFormsApp1.RBC_API" name="RBC_ENDPOINT" />			
		</client>
		<behaviors>
			<endpointBehaviors>
				<behavior name="RBC_Behaviour">
					<webHttp/>
				</behavior>
			</endpointBehaviors>
		</behaviors>
	</system.serviceModel>
</configuration>